Django==4.2.7
Pillow==10.1.0
django-cors-headers==4.3.1
python-decouple==3.8
whitenoise==6.6.0
gunicorn==21.2.0
channels==4.0.0
daphne==4.0.0
mysqlclient==2.2.0
python-chess==1.999
requests==2.31.0
feedparser==6.0.10
celery==5.3.4
redis==5.0.1
channels-redis==4.1.0
bbp-pairings==1.0.0
reportlab==5.0.0
